<div id="filters">
    <%= image_tag("funnel.png", :alt => "Filter") %>
    <ul class="filter">
    <% for year in current_model.find_all_years() %>
        <li><%= link_to year, :controller => controller_name, :action=>:by_date, :year=>year %></li>
    <% end %>
    </ul>
    <br/>
    <% if params[:year] %>
    <ul class="filter">
    <% for month in current_model.find_all_months(params[:year])%>
        <li><%= link_to Date::MONTHNAMES[month.to_i], :controller => controller_name, :action=>:by_date, :year=>params[:year], :month=>month  %></li>
    <% end %>
    </ul>
    <br/>
    <% end %>
</div>