<div>
    <h3>@incident.description (@incident.report_number)</h3>
	<p>@incident.resolution</p>
    <p>@incident.time.to_formatted_s(:short)</p>
    <p>@incident.address.to_s</p>
    <p>@incident.geo_code.to_s</p>
</div>
