<%- if map_incidents && map_incidents.size > 0 %>
<script src="http://maps.google.com/maps?file=api&v=2.x&key=<%= google_api_key() %>" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function load() {
  if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map"));
	var center = new GLatLng(<%= center_geo_locations(map_incidents) %>);
	map.setCenter(center, 14);
	
	var incidents = eval('<%= map_incidents.to_json(:include => :geo_location) %>');
	for (var i = 0; i < incidents.length; i ++) {
		for (var temp in incidents[i]) {
			var inc = incidents[i][temp];
			var marker = new GMarker(new GLatLng(inc.geo_location.latitude, inc.geo_location.longitude));
			GEvent.addListener(marker, "click", function() { 
			          new Ajax.Request('/incidents/' + inc.id, {asynchronous:true, evalScripts:true, method:'get'}); return false;
			        });
			map.addOverlay(marker);
		}
	}
	map.addMapType(G_PHYSICAL_MAP);
	map.addControl(new GLargeMapControl());
    map.addControl(new GMapTypeControl());
  }
}
//]]>
</script>
<div id="map" style="width: 600px; height: 300px"></div>
<%- end %>
