html,body {
	margin:0;
	padding:0; 
	text-align: center;
}

body {
	font: 1em Verdana,sans-serif; 
	line-height: 1.8em; 
}

input {
	border-style: solid;
	border-width: 1px;
	font-family: Verdana;
	font-size: 10px;
	border-color: #D69B48;
	background-color: #FFFFFF;
}

/*-------------- Header ----------------------*/
#header { 
	height: 90px;
	text-align: left;
	margin: 20px 0 0 0;
	background-color: #eee;
	border-top: thin solid #D69B48;
	border-bottom: thin solid #D69B48;
}
#header a {
    font-family:  Helvetica, Georgia;
	color: #000;
	text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
}
#header #img {
    float: left;
    margin: 5px 0 0 150px;
    height: 80px;
    width: 100px;
    background: url(../images/mkelogo.png) no-repeat;
}
h1 {
    float: left;
    padding-top: 14px;
}
h1 a {
    font-size: 24px;
	font-weight: bold;
}
#headernav {
    float: right;
    padding: 10px 24px 0 0;
    color: #000;
    font-size: 1em;
}

/*-------------- Content ----------------------*/
#wrapper { 
	width: 850px;
	margin-top: 10px;
	margin-left: 130px; 
	text-align: left;
	border-left: thin solid #D69B48; 
}

#content { 
	padding: 0 10px 0 10px;
	float: left;
	width: 620px; 
	font-family:  Helvetica, Georgia;
}

#content h3 {
	border-bottom: thin solid #BCE27F;
	font-size: 14px;
	font-family:  Helvetica, Georgia;
}

#content a {
	text-decoration: none;
	color: #938564;
	border-bottom: thin dashed #88AA77;
}

/*-------------- Navigation ----------------------*/
#navigation {
	float:right;
	width: 200px; 
	padding: 2px;
	border-left: thin solid #D69B48;
}

#navigation .search {
    float:right;
}

#navigation .search * input[type="text"] {
    width: 110px;
}

#navigation h3 {
	border-bottom: thin solid #B87536;
	font-size: 14px;
	font-family:  Helvetica, Georgia;
	color: #7C4200;
}
#navigation li {
	list-style-type: none;
}

#navigation li a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: bold;
	font-family:  Helvetica, Georgia;
	color: #938564;
}

#navigation li a:hover {
	border-bottom: thin dashed #666;
	color: #666;
}

#navigation li a.on {
	border-bottom: 1px dashed #88AA77;
}

/*-------------- Footer ----------------------*/
#footer { 
	clear: both;
	text-align: left;
	padding: 20px 0 0 130px;
}

#footer p, #footer a {
    margin: 0;
    font-size: .7em;
    color: #666;
	text-decoration: none;
}

/*-------------- popup.js ----------------------*/
div.popup {
  max-width: 800px;
  border: 1px solid red;
  padding: 5px;
  background-color: white;
  /* The following properties should not be changed */
  position: absolute;
}

#popup_overlay {
  background-color: whitesmoke;
  /* The following properties should not be changed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

span.popup_link, a.popup_link {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.popup_draghandle {
  cursor: move;
}
