html,body
{
	margin:0;
	padding:0; 
	text-align: center; 
}

body
{
	font: 11px Verdana,sans-serif; 
	line-height: 1.8em; 

}



#header
{ 
	background-color: #88AA77;
	height: 30px;
	color: white;
	font-size: 20px;
	font-family:  Helvetica, Georgia;
	font-weight: bold;
	padding: 5px;
}


/*-------------- Content ----------------------*/
#wrapper 
{ 
	width: 760px;
	margin: 10px auto; 
	text-align: left;
	padding: 5px;
	border-left: 1px solid #96B566; 
	border-right: 1px solid #96B566; 
}


#content
{ 
	padding-right: 10px;
	float: left;
	width: 540px; 
	font-family:  Helvetica, Georgia;
}

#content h3
{
	border-bottom: 1px solid #BCE27F;
	font-size: 14px;
	font-family:  Helvetica, Georgia;
}

#content img
{
	display: inline;
	float: left;
	margin: 5px;
	border-width: 0px;
}

#content a
{
	text-decoration: none;
	color: #88AA77;
	border-bottom: 1px dashed #88AA77;
}


#right
{
	float:right;
	width: 200px; 
	padding: 2px;
}


#right h3
{
	border-bottom: 1px solid #BCE27F;
	font-size: 14px;
	font-family:  Helvetica, Georgia;
	color: #88AA77;
}
#right li
{
	list-style-type: none;
}

#right li a
{
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: bold;
	font-family:  Helvetica, Georgia;
	color: #88AA11;
}

#right li a:hover
{
	border-bottom: 1px dashed #88AA77;
	color: #000000;
}

#right li a.on
{
	border-bottom: 1px dashed #88AA77;
}


#sidenote
{
	float:right;
	width: 200px; 
	padding: 2px;
}

#sidenote h3
{
	border-bottom: 1px solid #BCE27F;
	font-size: 14px;
	color:  #88AA77;
	font-family:  Helvetica, Georgia;
}

input
{
	border-style: solid;
	border-width: 1px;
	font-family: Verdana;
	font-size: 10px;
	border-color: #88AA77;
	background-color: #FFFFFF;
}

#footer
{ 
	clear: both;
	text-align: center;
	padding-top: 20px; 
	color: #BCE27F;
}

#footer a
{
	color: #BCE27F;
	text-decoration: none;
}