
html,body {
	text-align: center;
}
body {
	font: 1em Verdana,sans-serif; 
	line-height: 1.8em; 
}
input {
	border-style: solid;
	border-width: 1px;
	font-family: Verdana;
	font-size: 10px;
	border-color: #D69B48;
	background-color: #FFFFFF;
}
br { clear: both; }
table { width: 100%; }

/*-------------- Header ----------------------*/
#header { 
	height: 90px;
	text-align: left;
	margin: 20px 0 0 0;
	background-color: #eee;
	border-top: 5px solid #D69B48;
}
#header a {
    font-family:  Helvetica, Georgia;
	color: #000;
	text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
}
#header #img {
    float: left;
    margin: 5px 0 0 130px;
    height: 80px;
    width: 100px;
    background: url(../images/mkelogo.png) no-repeat;
}
h1 {
    float: left;
    padding-top: 30px;
}
h1 a {
    font-size: 24px;
	font-weight: bold;
}
h2 {
    padding-top: 20px;
}
#headernav {
    float: right;
    padding: 10px 24px 0 0;
    color: #000;
    font-size: .75em;
}

/*-------------- Content ----------------------*/
#wrapper { 
	width: 850px;
	margin-top: 20px;
	margin-left: 130px; 
	text-align: left;
}
#content { 
	padding: 0 10px 20px 0;
	float: left;
	width: 850px; 
	font-family:  Helvetica, Georgia;
}
#content h3 {
	border-bottom: thin solid #BCE27F;
	font-size: 14px;
	font-family:  Helvetica, Georgia;
}
#content a {
	color: #938564;
}

/*-------------- Navigation ----------------------*/
#navigation ul {
    background-color: #D69B48;
    color: #fff;
    float: left;
    width: 100%;
}
#navigation ul li { display: inline; }
#navigation ul li a {
    padding: 0.2em 1em;
    background-color: #D69B48;
    color: #fff;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}
#navigation ul li a:hover {
    background-color: #C67B48;
    color: #eee;
}

/*-------------- filter ----------------------*/
#filters {
    border: 2px solid #D69B48;
}
ul.filter {
    display: block;
    color: #000;
    float: left;
}
ul.filter li { display: inline; }
ul.filter li a {
    padding: 0.2em 1em;
    color: #000;
    text-decoration: none;
    float: left;
    border-right: 1px solid #eee;
}

/*-------------- Footer ----------------------*/
#footer { 
	clear: both;
	text-align: left;
	margin: 20px 20px 0 130px;
	border-top: 1px solid #eee;
}
#footer p, #footer a {
    margin: 0;
    font-size: .7em;
    color: #666;
}

/*-------------- popup.js ----------------------*/
div.popup {
  max-width: 800px;
  border: 3px solid #000;
  padding: 5px;
  background-color: white;
  /* The following properties should not be changed */
  position: absolute;
}
#popup_overlay {
  background-color: #fff;
  /* The following properties should not be changed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}
span.popup_link, a.popup_link {
  cursor: pointer;
  border-bottom: 1px dotted;
}
.popup_draghandle {
  cursor: move;
}
.popup_closebox {
    position:absolute;
    text-indent: -1000px;
    overflow: hidden;
    background: url(../images/close.png) no-repeat;
    height: 25px;
    width: 25px;
}
.popup_closebox:hover {
    cursor: pointer;
}

/*-------------- forms ----------------------*/
fieldset {
    border-top: 1px solid #666666;
    padding: 0 5px 5px 5px;
}
fieldset legend {
    font-weight: bold;
    font-size: 100%;
    padding: 0 3px 0 9px;
}
label {
    float: left;
    width: 150px;
}
input[type="text"], input[type="password"] { 
    width: 180px;
}
textarea{
    width: 250px;
    height: 150px;
}
form p {
    clear: left;
    padding: 5px 0 8px 0;
}

div#incident, div#map {
    padding-top: 20px;
    width: 400px;
    float: left;
}
div#map:after { clear: both;}

#incident div.label {
    font-weight: bold;
    float: left;
    width: 140px;
    padding-bottom: 5px;
}
#incident div.value {
    float: left;
    width: 260px;
    padding-bottom: 5px;
}
#incident-footer {
    width: 800px;
}
