<h1>Listing permit_records</h1>

<table>
  <tr>
  </tr>

<% for permit_record in @permit_records %>
  <tr>
    <td><%= link_to 'Show', permit_record %></td>
    <td><%= link_to 'Edit', edit_permit_record_path(permit_record) %></td>
    <td><%= link_to 'Destroy', permit_record, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New permit_record', new_permit_record_path %>
