<h1>Listing ENotify Mails</h1>

<table>
  <tr>
  </tr>

<% for enotify_mail in @enotify_mails %>
  <tr>
    <td><%= link_to 'Show', enotify_mail %></td>
    <td><%= link_to 'Destroy', enotify_mail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ENotify Mail', new_enotify_mail_path %>
