<h1>New enotify_mail</h1>

<% form_for(@enotify_mail) do |f| %>
  <%= f.error_messages %>

  <label for="enotify_mail[full_text]">Full Text</label>
  <%= text_area :enotify_mail, :full_text %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', enotify_mails_path %>
