<h3>Incident Detail</h3>
<%= render :partial => "incidents/incident", :object => @enotify_mail.incident %>

<h3>Raw</h3>
<p><%= @enotify_mail.title %></p>
<p><%= @enotify_mail.full_text %></p>

<%= link_to 'Back', enotify_mails_path %>
