<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Milwaukee ENotify</title>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'style' %>
</head>
<body>
	<div id="header">ENotify Deconstructed</div>

	<div id="wrapper">
		<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>

			<%= yield  %>
		</div>

		<div id="footer">
			&copy;Copyright 2008 Geoff Lane<br/>
			Validate <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
			<a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a>
		</div>
	</div>
</body>
</html>
